<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>
         <img src= "~/img/logojjoo.png"><a href = '@Url.Action("Index")'> 
         <li>
            <ul><a href = '@Url.Action("Historia")'>Historia</ul>
            <ul><a href = '@Url.Action("Deportes")'> Deportes</ul>
            <ul><a href = '@Url.Action("Paises")'> Países</ul>
            <ul><a href = '@Url.Action("AgregarDeportista")'> Agregar Deportista</ul>
            <ul><a href = '@Url.Action("Creditos")'> Créditos</ul>
         </li>  
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; @DateTime.Now.Year - JJOO - Minuchin-Dominguez
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
