<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JJOO</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    
    <header class="hLayout">
        <a href = '@Url.Action("Index")'><img src= "~/img/logojjoo.png"></a>
        <nav>
         <ul>
            <li><a href = '@Url.Action("Historia")'>Historia</a></li>
            <li><a href = '@Url.Action("Deportes")'> Deportes</a></li>
            <li><a href = '@Url.Action("Paises")'> Países</a></li>
            <li><a href = '@Url.Action("AgregarDeportista")'> Agregar Deportista</a></li>
            <li><a href = '@Url.Action("Creditos")'> Créditos</a></li>
         </ul>  
        </nav>
    </header>

  <main role="main">
        @RenderBody()
    </main>

   <!-- <footer>
        &copy; @DateTime.Now.Year - JJOO - Minuchin-Dominguez
    </footer>-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
